<component name="ArtifactManager">
  <artifact type="war" name="Spring_Web_Pjt:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring_Web_Pjt</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="app-1.0.0-BUILD-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring_Web_Pjt:war exploded" />
    </root>
  </artifact>
</component>